.input {
  [type='text'],
  [type='password'],
  [type='date'],
  [type='datetime'],
  [type='datetime-local'],
  [type='month'],
  [type='week'],
  [type='email'],
  [type='number'],
  // [type='search'], - causes errors do scoped css if need be
  [type='tel'],
  [type='time'],
  [type='url'],
  [type='color'],
  textarea {
    position: relative;
    font-size: rem(13);
    line-height: 15px;
    padding: 16px 12px;
    background-color: $bg--light;
    border: 1px solid $border--main;
    border-radius: 0;
    margin: 0;
    width: 100%;
    font-size: 13px;
    line-height: 15px;
    color: $color-coal;
  }

  &--text {
    color: $text--main;
    font-family: $font-body--main;
    padding-right: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 18px;
    line-height: 20px;
    border: 1px solid $border--main;
    border-radius: 5px;
    transition: border-color 0.5s ease;
    -webkit-appearance: none;

    &::after {
      position: absolute;
      display: block;
      content: '';
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background-color: transparent;
    }

    &:hover, &:active {
      border-color: $color-dark-grey;
    }

    &:focus {
      border-color: $border--focus;

      &::after {
        background-color: $form-field--focus;
      }
    }

    &-error::after {
      background-color: $form-field--error;
    }
  }

  &--quantity {
    position: relative;
    max-width: 105px;
    margin: 0;
    flex-shrink: 0;

    &__increment,
    &__decrement {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 16px;

      &[disabled] {
        background-color: transparent;
        opacity: 0.4;
      }
    }

    &__increment {
      right: 0;
    }

    &__decrement {
      left: 0;
    }

    [type="text"] {
      background-color: transparent;
      color: $color--primary;
      letter-spacing: 1.88px;
      border: 2px solid $color--primary;
      padding-left: 40px;
      padding-right: 40px;
      text-align: center;
      font-weight: bold;
    }

    .icon {
      fill: $color--primary;
    }
  }



  &--quantity {
    position: relative;
    max-width: 105px;
    margin: 0;
    flex-shrink: 0;

    &__increment,
    &__decrement {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 16px;

      &[disabled] {
        background-color: transparent;
        opacity: 0.4;
      }
    }

    &__increment {
      right: 0;
    }

    &__decrement {
      left: 0;
    }

    [type="text"] {
      background-color: transparent;
      color: $color--primary;
      letter-spacing: 1.88px;
      border: 2px solid $color--primary;
      padding-left: 40px;
      padding-right: 40px;
      text-align: center;
      font-weight: bold;
    }

    .icon {
      fill: $color--primary;
    }
  }


  &--radio {
    &:hover .input--radio__button {
      border-color: $color-dark-grey;
    }

    &__label {
      cursor: pointer;
      position: relative;
      font-size: rem(13);
      line-height: 15px;

      &__content {
        padding-left: 28px;
      }

      input {
        display: none;

        &:checked + .input--radio__button {
          border-color: $color--primary;
          background-color: $color--primary;

          &:after {
            opacity: 1;
          }
        }
      }
    }

    &__button {
      top: 1px;
      left: 0;
      height: 10px;
      width: 10px;
      border: 1px solid $border--main;

      &, &:after {
        position: absolute;
        display: block;
        transition: 0.3s ease all;
        border-radius: 50%;
      }

      &:after {
        content: '';
        height: 5px;
        width: 5px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $color-dirty-ivory;
        opacity: 0;
      }
    }

    &[disabled] .input--radio__button {
      background-color: $color-umber;
    }
  }

  &--radio-group,
  &--checkbox-group {
    margin: 0;
    padding: 0;

    label {
      display: inline-block;
      position: relative;
      padding-left: 28px;
      margin: 12px 0 0 12px;
      font-family: $font-body--main;
      font-size: rem(16);
      font-weight: 400;
      text-transform: none;
      letter-spacing: normal;
      color: $color-black;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      cursor: pointer;

      &:before {
        content: '';
        display: inline-block;
        height: 17px;
        width: 17px;
        border: 1px solid $border--main;
        background-color: $color-white;
        margin-right: 7px;
        transition: 0.3s ease all;
      }

      &:hover {
        &:before {
          border-color: $color-dark-grey;
        }
      }

      &:focus {
        &:before {
          border-color: $color--primary;
        }
      }
    }
  }

  &--checkbox-group {
    .checkbox-toggle {
      border-radius: 1px;
      border: 1px solid $color-pine;
      background-color: $color-white;
    }

    .checkbox-checkmark.icon {
      display: none;
      position: relative;
      fill: $color-white;
      left: 2px;
      top: 2px;
    }

    label:hover input:not([disabled="disabled"]) ~ .checkbox-toggle {
      border: 1px solid $color--primary--hover;
    }

    input:checked {
      & ~ .checkbox-toggle {
        border: 1px solid $color--primary;
        background-color: $color--primary;
      }

      & ~ .checkbox-toggle .checkbox-checkmark {
        display: block;
      }
    }

    input[disabled="disabled"] {
      & ~ .checkbox-toggle {
        border: 1px solid $color-pine;
        background-color: $color-lightest-grey;
      }

      & ~ .checkbox-toggle .checkbox-checkmark.icon {
        fill: $color-lightest-grey;
      }
    }
  }

  &--radio-group {
    .radio-toggle {
      background-color: $color-white;
      border: 1px solid $color-lightest-grey;
      border-radius: 50%;

      &::after {
        content: "";
        position: absolute;
        display: none;
        top: 3px;
        left: 3px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $color--primary;
      }
    }

    label:hover input:not([disabled="disabled"]) ~ .radio-toggle {
      border: 1px solid $color--primary--hover;
    }

    input:checked {
      & ~ .radio-toggle {
        border: 1px solid $color--primary;
      }

      & ~ .radio-toggle::after {
        display: block;
      }
    }

    input[disabled="disabled"] {
      & ~ .radio-toggle {
        border: 1px solid $color-lightest-grey;
        background-color: $color-lightest-grey;
      }

      & ~ .radio-toggle::after {
        background-color: $color-lightest-grey;
      }
    }
  }
}

.form-field {
  margin: 0 0 16px;

  @include tablet-up {
    margin: 0 0 24px;
  }

  label {
    color: $text--main;
    display: inline-block;
    font-size: rem(11);
    font-weight: 600;
    margin: 0 0 7px;
  }
}

.form-field--address {
  @include tablet-up {
    width: calc(50% - 5px);
  }
}

.form-link {
  color: $color--primary;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
  }

  &:hover, &:active {
    color: $text--main;
  }
}

.form-success,
div.errors {
  border-width: 1px;
  border-style: solid;
  padding: 12px 18px;
}

.form-success {
  border-color: $color--primary;
  color: $color--primary;
}

div.errors {
  border-color: $color--error;
  color: $color--error;
  margin-bottom: $content-gutter;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0;

      &:not(:last-child) {
        margin-bottom: $content-gutter;
      }
    }
  }
}
.v-select {
  // height: 50px;
  width: 100%;
  border-radius: 0;
  border: 1px solid $color-fog;
  background-color: $color-white;
  color: $color-dark-grey;
  font-size: 13px;
  line-height: 50px;
  padding: 5px;
  font-family: $font-gotham;
  font-weight: 400;
  &:hover {
    border: 1px solid $color-ivory;
  }
  &.vs--open {
    .vs__search {
      width: auto;
    }
  }
  &:active {
    border: 1px solid $color-ivory;
  }
}
.vs__dropdown-option--highlight {
  background-color: $color-pine;
}
.vs__search,
  .vs__dropdown-toggle {
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    padding:5px;
    background-color: transparent;
  }


[data-address='root'] [data-aria-hidden='true'] {
  display: none;
}

[data-address='root'] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

[data-line-count='1'] {
  flex-basis: 100%;
}
[data-line-count='2'] {
  flex-basis: 49%;
}
[data-line-count='3'] {
  flex-basis: 32%;
}

@media only screen and (max-width: $breakpoint-tablet) {
  [data-line-count='2'] {
    flex-basis: 100%;
  }
  [data-line-count='3'] {
    flex-basis: 100%;
  }
}
