<div id="app-index">
    <index-template></index-template>
</div>

{{ content_for_index }}

<div class="article-test">

    {% for article in blog.articles %}

        <p>{{ article }}</p>

    {% endfor %}


</div>