{% comment %}<vue-section-boilerplate
  :settings='{%- include "json-section-settings" -%}'
  :blocks='{%- include "json-section-blocks" -%}'
></vue-section-boilerplate>{% endcomment %}

{% if section.settings.enabled != blank %}
  <section>
    {% if section.blocks.size > 0 %}
      <ul>
        {% for block in section.blocks %}
          {% if block.settings.enabled != blank %}
            <li v-for="key in section.block_order">
              <img src="{{ block.settings.image | img_url: 'master' }}" />
              {% if block.setting.title != blank %}
                <p>{{ block.setting.title }}</p>  
              {% endif %}
            </li>    
          {% endif %}
        {% endfor %}
      </ul>  
    {% endif %}
  </section>  
{% endif %}


{% schema %}
{
  "name": "Vue Section Boilerplate",
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Enable"
    }
  ],
  "blocks": [
    {
      "name": "Block",
      "type": "block",
      "settings": [
        {
          "type": "checkbox",
          "id": "enabled",
          "label": "Enable"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}